/*estilo de la barra*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #8D493A;
    position: fixed;
    top: 0;
    width: 100%;

}

li{
    float: left;
}

li a{
    display: block;
    color: #DFD3C3;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    
}

li a:hover:not(.active) {
    background-color: #F8EDE3;
    color: #8D493A;
}



  /*fondo de la pagina*/
 body{
    background-color: #DFD3C3;
  }
