/*estilo de la barra*/
.barra{
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #8D493A;
    position: fixed;
    top: 0;
    width: 100%;

}

.opcion_barra{
    float: left;
}

li a{
    display: block;
    color: #DFD3C3;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    
}

li a:hover:not(.active) {
    background-color: #F8EDE3;
    color: #8D493A;
}



  /*fondo de la pagina*/
 body{
    background-color: #DFD3C3;
  }

/*estilo del titulo,subtitulo,descripcion*/
#encabezado{
    text-align: center;
    color: beige;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#image-conteiner{
    width: 100%;
    max-width: 100%;

}

.descripcion{
    text-align: center;
    position: absolute;
    top: 60%; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/*estilo pie de pagina*/
.pie_pagina{
    background-color: #1d1412;
}
