body{
    background: #DFD3C3;
}

/*Tabla de productos*/
#tabla_productos{
    overflow-y: auto;
    max-height: 250px;
    padding: 0;
    margin-bottom: 5px;
}

.table thead th{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #D0B8A8;
}

