.fondo_pagina{
    background-image: url(../IMG/pan3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}

#titulo{
    text-align: center;
    color: white;
   /* background-color: rgba(139, 69, 19, 0.712);*/
}

#regisro_mayorista{
    text-align: center;
    
}


.container{
    max-width: 880px;
    margin-top: 60px;
    background-color: #D0B8A8;

    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}
