.fondo_pagina{
    background-image: url(../IMG/pan3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}
label{
    color: #fff;
}

.container{
    background-color: rgb(0, 0, 0,0.7);
}