body{
    margin:0;
    background: #DFD3C3;
    scrollbar-color: #8D493A #D0B8A8;
}

main{
    background: url(../IMG/insumos.jpg);    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

/*Tabla de productos*/
#tabla_productos{
    overflow-y: auto;
    max-height: 300px;
    padding: 0;

    box-shadow: 0px 0px 20px #111;
}

.table thead th{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #D0B8A8;
}

.table tbody td{
    box-sizing: content-box;/*campos ocupan el 15% del contenedor*/
}


/*media query para ocultarlo en resoluciones pequeñas*/
@media(max-width:768px){
    .table td:nth-child(1),
    .table th:nth-child(1){
        display:none;
    }
}

form{
    
    font-weight: bolder;
    background: transparent;
}
/*imprimir*/
@media print {
    /* Ocultar todo lo que no es la tabla */

    body * {
        visibility: hidden;
    }

    /* Mostrar solo la tabla */
    #tabla_productos, #tabla_productos * {
        visibility: visible;
    }

    /* Asegurarse de que la tabla mantenga su posición */
    #tabla-productos {
        position: absolute;
        top: 0;
        left: 0;
    }
}