body{
    background: #DFD3C3;
    scrollbar-color: #8D493A #D0B8A8;
}

main{
    background: url(../IMG/panadero_a.jfif);    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

h2 span{
    background: rgb(0, 0, 0,0.7);
}

#tabla_empleados{
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
    padding: 0;
}

.table thead th{
    position: sticky;
    top:0;
    background: #D0B8A8;
}

#img-empleados{
    box-shadow: 0px 10px 30px #111;
}

a{  
    text-align: center;
    color:#111;
    text-decoration: none;
}

a h3{
    padding: 2%;
    background:#D0B8A8;
    border-radius: 10px;
}

a:hover{
    color:#8D493A;
}

a h3:hover{
    background: linear-gradient(#D0B8A8,transparent);
    /*box-shadow: 0px 2px 12px #111;*/
}

