body{
    scrollbar-color: #D0B8A8 #F8EDE3;
}
main{
    background-image: url(../IMG/pan3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#titulo{
    text-align: center;
    color: #F8EDE3;
    background-color: rgba(0, 0, 0, 0.7);
    
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-shadow: 3px 3px black;
}



#form_pedido{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

label,#lista-insumos{
    color:#fff;
}

.fixed-size {
    width: 100%;
    height: 150px;
}

#contenedor_formulario{

    
    max-width: 880px;

    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;

}

/*TABLA*/
.table {
    width: 100%; /* Hace que todas las tablas tengan el mismo ancho */
    margin: 0; /* Evita márgenes extra que puedan desalinear las tablas */
}

.tbody-container {
    overflow-y: auto; /*agrega el scroll*/
    max-height: 250px;
}

.table thead th, .table tfoot td {
    position: sticky;
    z-index: 1;
    background: #F8EDE3;
}

td{
    text-align: center;
}

