body{
    scrollbar-color: #198754 #F8EDE3;
}


main{
    background: url(../IMG/mostrador-venta.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    
}


#productoSeleccionado h4 span, #detalles-venta {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 5px;
}

#formset-container{
    display: none;
}


/*FORMULARIO de venta*/
#formulario_venta{
    background: #F8EDE3CC;
    border: 3px solid #198754;
}

#observaciones_venta{
    resize: none; 
}

/*TABLA*/
.table {
width: 100%; /* Hace que todas las tablas tengan el mismo ancho */
margin: 0; /* Evita márgenes extra que puedan desalinear las tablas */
border: 3px solid #198754;
}

.tbody-container {
overflow-y: auto; /*agrega el scroll*/
max-height: 250px;
}

.table thead th, .table tfoot td {
position: sticky;
z-index: 1;
background: #F8EDE3CC;
}

td{
    text-align: center;
}
/*formato del total de la venta para el us*/
#p_total_venta{
    color:#DFD3C3;
    font-weight: bolder;
}

#resultados{
    position: relative
}

#resultados li{
    position: absolute; 
    z-index: 1000;
    border-radius: 8px;
}