body{
    background: #DFD3C3;
    scrollbar-color: #198754 #F8EDE3;
}


main{
    background: url(../IMG/pan1.jpeg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

#productoSeleccionado h4 span{
    background: #aaa
}

#formset-container{
    display: none;
}


/*FORMULARIO de venta*/
#formulario_venta{
    background: #F8EDE3;
    border: 3px solid #198754;
}

#observaciones_venta{
    resize: none; 
}

/*TABLA*/
.table {
width: 100%; /* Hace que todas las tablas tengan el mismo ancho */
margin: 0; /* Evita márgenes extra que puedan desalinear las tablas */
border: 3px solid #198754;
}

.tbody-container {
overflow-y: auto; /*agrega el scroll*/
max-height: 250px;
}

.table thead th, .table tfoot td {
position: sticky;
z-index: 1;
background: #D0B8A8;
}

td{
    text-align: center;
}
/*formato del total de la venta para el us*/
#p_total_venta{
    color:#DFD3C3;
    font-weight: bolder;
}
