main{
    background: url(../IMG/pedidos.jpg);    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

#tabla_pedidos{
    overflow-y: auto;
    max-height: 250px;
    width: 100%;
    padding: 0;
}

.table thead th{
    position: sticky;
    top:0;
    background: #D0B8A8;
}