#contenedor{
    background: rgb(0, 0, 0,0.7);
}   

main{
    background: url(../IMG/pan3.jpg);    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

label{
    color:#fff;

}

#mansaje_deslogueo {
    background-color: #dc3545;
    color:#fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}