#fondo{
    background: url(../IMG/pan1.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}
label{
    color:#fff;

}

.container{
    max-width: 880px;
    margin-top: 60px;
    background-color: rgb(0, 0, 0,0.7);

    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}