{% extends 'base.html' %}
{% load static %}
{% block title %}Registrar Pedido{% endblock %}
{% block extra_css%}
  <link rel="stylesheet" href="{% static 'CSS/pedidos.css' %}">
{% endblock %}
{% block content %}
    <div class="fondo_de_pagina">

      <h1 id="titulo">Registrar Pedido</h1>
        <div class="container-fluid" id="contenedor_formulario" >

            <form id="form_proveedor" action="#">
                <fieldset>
                <h3 class="text-center">Formulario para pedido</h3>

                <button type="button" class="btn btn-outline-dark">Seleccionar Proveedor</button>

                <div class="container text-center mt-3">
                  <div class="row">
                    <div class="col-12 col-6 col-sm-6">

                      <label for="numero" class="form-label">Numero de pedido</label>
                      <input type="number" id="numero" name="numero" class="form-control">

                    </div>
                    <div class="col-12 col-6 col-sm-6">
                      
                      <label for="fecha-pedido" class="form-label">fecha del pedido</label>
                      <input type="date" id="fecha_pedido" name="fecha_pedido" class="form-control" required>

                    </div>
                    <div class="col-12 col-6 col-sm-6">
                      <!--barra de busqueda-->
                      <form class="d-flex" role="search">
                        <label for="cantidad" class="form-label">Seleccione un Insumo</label>
                        <input class="form-control me-2" type="search" placeholder="Buscar Insumo...">
                      </form>
                    </div>
                    <div class="col-12 col-6 col-sm-6">
                      <label for="cantidad" class="form-label">cantidad</label>
                      <input type="nunber" id="cantidad" name="cantidad" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="container mb-3 mt-3">
                      <!-- Tabla con el encabezado fijo -->
                      <table class="table text-center">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Insumo</th>
                              <th>Cantidad</th>
                          </tr>
                          </thead>
                      </table>
                      <!-- Contenedor con scroll para el cuerpo de la tabla -->
                      <div class="tbody-container">
                          <table class="table text-center table-hover table-primary">
                          <tbody>

                          </tbody>
                          </table>
                      </div>
                      <!-- Tabla con el pie de la tabla fijo -->
                      <table class="table">
                          <tfoot>
                          <tr>
                              <td><section class="fs-2">Total:</section></td>
                              <td class="bg-success"><p class="fs-2" id="p_total_venta">$35</p></td>
                          </tr>
                          </tfoot>
                      </table>
                    </div>
                  </div>
                  <div>
                    <button type="reset" name="cancelar" class="btn btn-danger m-2">Cancelar</button>
                    <button type="submit" name="enviar" class="btn btn-success m-2">Generar</button>
                  </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% block extra_js %}
      <script src="{% static 'JS/pedidos.js' %}"></script>
    {% endblock %}
{% endblock %}