{% extends 'base.html' %}
{% load static %}

{% block title %}Modificar Producto{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/agregar_insumo.css' %}">
{% endblock %}
{% block content %}
<div id="fondo" class="pe-3 ps-3">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center mb-4">Modificación de Insumo</h1>
            <form method="post" > {% csrf_token %}
                <!-- Código -->
                <div class="mb-3">
                    <label for="{{fo.id_label}}" class="form-label fs-4">Código</label>
                    {{form.codigo}}
                </div>
                <!-- Nombre -->
                <div class="mb-3">
                    <label for="{{form.nombre.id_label}}" class="form-label fs-4">Nombre</label>
                    {{form.nombre}}
                </div>

                <!-- Cantidad -->
                <div class="mb-3">
                    <label for="{{form.cantidad.id_label}}" class="form-label fs-4">Cantidad Actual</label>
                    {{form.cantidad}}
                </div>

                <!-- Cantidad Mínima -->
                <div class="mb-3">
                    <label for="{{form.cantid.id_label}}" class="form-label fs-4">Cantidad Mínima</label>
                    {{form.cantidad_minima}}
                </div>

                <!-- Unidad de Medida -->
                <div class="mb-3">
                    <label for="{{form.unidad_de_medida.id_label}}" class="form-label fs-4">Unidad de Medida</label>
                    {{form.unidad_de_medida}}
                </div>
                <!--Ultomo Precio -->
                <div class="mb-3">
                    <label for="{{form.precio.id_label}}" class="formltimo Precio">Último Precio</label>
                    {{form.ultimo_precio}}
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <label for="{{form.categoria.id_label}}" class="form-label fs-4">Estado</label>
                        {{form.estado}}                    
                        <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                    </div>
                </div>
                <!-- Botón de envío -->
                <div class="container-fluid mb-3">
                    <button type="reset" class="btn btn-danger">Cancelar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}