{% extends 'base.html' %} <!--HERENCIA-->
{% load static %}
{% block title %}Stock Productos{% endblock %}
    <!--CSS-->
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'CSS/productos.css' %}">
    {% endblock %}
{% block content %}
    <main>
        <div class="contenedor_titulo">
            <h1 class="text-center display-1">Productos</h1>
        </div>
        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-md-12">
                    <!--buscador de producto-->
                    <div class="container-fluid mb-2">
                        <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar producto...">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-12"> <!--tabla de productos-->
                    <div class="container-fluid" id="tabla_productos">
                        <table class="table table-hover table-primary">
                            <thead> <!--cabecera-->
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Cantidad Disponible</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>ACCIÓN</th>
                            </thead>
                            <tbody>
                                <tr><!--filas-->
                                    <td>1</td>
                                    <td>tartas</td>
                                    <td>Pastelería</td>
                                    <td>25</td>
                                    <td>tartas dulces
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui voluptates animi similique quisquam quod iste autem sapiente illo expedita atque veritatis, accusamus amet laboriosam in quibusdam! Ex, nostrum amet!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptate illo deserunt veniam quaerat, dicta quos eligendi nisi, maxime libero odio animi repellat? Dolor enim voluptatibus inventore assumenda earum officia.
                                    </td>
                                    <td>$1900</td>
                                    <!--USO: class="btn btn-primary" data-bs-toggle="collapse" href="#nombre de la card a la que quieero acceder"-->
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#card_modificar_producto">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" data-bs-toggle="collapse" href="#card_eliminar_producto">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>facturas</td>
                                    <td>Pastelería</td>
                                    <td>70</td>
                                    <td>facturas sin relleno</td>
                                    <td>$500</td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" href="#">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>bizcochos de grasa</td>
                                    <td>Panificación</td>
                                    <td>60</td>
                                    <td>bizcochos de grasa</td>
                                    <td>$2000</td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" href="#">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>palitos de queso</td>
                                    <td>Panificación</td>
                                    <td>90</td>
                                    <td>bastones elaborados con el queso más rico y nutritivo</td>
                                    <td>$2500</td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" href="#">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>facturas Dulce/leche</td>
                                    <td>Pastelería</td>
                                    <td>70</td>
                                    <td>facturas rellenas de dulce de leche</td>
                                    <td>$500</td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" href="#">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>facturas Dulce/Membrillo</td>
                                    <td>Pastelería</td>
                                    <td>70</td>
                                    <td>facturas con membrillo</td>
                                    <td>$500</td>
                                    <td class="project-actions">
                                        <a class="btn btn-primary btn-sm" href="#">
                                        Modificar
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="#">
                                        Eliminar
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-2">
            <a class="btn btn-success" role="button">AGREGAR PRODUCTO</a>
            <a class="btn btn-primary" role="button">MODIFICAR PRODUCTO</a>
            <a class="btn btn-danger" role="button">ELIMINAR PRODUCTO</a>
        </div>
    </main>
{% endblock %}
