{% extends 'base.html' %} <!--HERENCIA-->
{% load static %}
{% block title %}Venta{% endblock %} <!--copia y pega el titulo-->
<!--busca el css correspondiente-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/gestion_de_venta.css' %}">
{% endblock %}
<!--Se referencian los archivos en /static-->

    {% block content %} <!--HERENCIA de contenido variable-->

        <main>
            <h1 class="display-1">Venta</h1>
            <div class="container-fluid mb-3"><!--contenedor completo-->
                <div class="text-center">
                    
                </div>
                <!--BUSCADOR-->
                <div class="input-group mb-3">
                    <input type="text" id="search" class="form-control" placeholder="Buscar producto..." onkeyup="buscarProducto()">
                    <button class="btn btn-secondary" type="button">Buscar</button>
                </div>

                <!-- Lista de resultados -->
                <ul id="resultados" class="list-group"></ul>
                <!-- Sección para ingresar cantidad y agregar a la tabla -->
                <div id="productoSeleccionado" class="mt-4">
                    <h4><span>Producto seleccionado: </span><span id="nombreProducto"></span></h4>
                </div>
                <form method="POST" id='formulario_de_venta'>{% csrf_token %}
                    {{ form_item_venta.management_form }}
                        <div id="formset-container">
                            {% for f in form_item_venta %}
                            <div class="section-form mb-2" id="item_contenedor" >
                                {{f.producto}}
                                {{f.cantidad}}
                                {{f.sub_total}}
                                {{f.DELETE}}
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                        <input type="number" id="cantidad_seleccionada" class="form-control mb-1">
                        <button class="btn btn-dark mb-2" onclick="agregarItem()" type="button">Agregar a la venta</button>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container mb-3">
                                    <h3 id="detalles-venta">Detalles de la Venta</h3>
                                    <!-- Tabla con el encabezado fijo -->
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Producto</th>
                                            <th>Cant</th>
                                            <th>Unidad</th>
                                            <th>Precio</th>
                                            <th>Subtotal</th>
                                            <th>Accion</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <!-- Contenedor con scroll para el cuerpo de la tabla -->
                                    <div class="tbody-container">
                                        <table class="table text-center table-hover table-primary">
                                        <tbody id="cuerpo_tabla_ventas">

                                        </tbody>
                                        </table>
                                    </div>
                                    <!-- Tabla con el pie de la tabla fijo -->
                                    <table class="table">
                                        <tfoot>
                                        <tr>
                                            <td><section class="fs-2">Total:</section></td>
                                            <td class="bg-success"><p class="fs-2 text-center" id="p_total_venta">$0.00</p></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 p-2" id="formulario_venta">
                                <!--FORMULARIO DE VENTA-->
                                    <h3>Datos Generales</h3>
                                    <div class="col-md-6">
                                        <label for="consumidor_final" class="form-label fs-4">Cliente</label>
                                        <input class="form-control" type="text" value="Consumidor Final" id="cliente-elegido" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <!--<button class="btn btn-secondary m-2">venta mayorista</button>-->
                                        {{item_mayorista.as_p}}
                                        <!--Boton del Modal-->
                                        <button type="button" class="btn btn-outline-dark mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Seleccionar mayorista</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h2 class="modal-title fs-5" id="staticBackdropLabel">Venta Mayorista</h2>
                                                
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                <input class='form-control' type="text" placeholder="Ingrese nombre del cliente..." id="buscador-mayorista" onkeyup="buscarMayorista()">
                                                <ul id="lista-clientes">
                                                    
                                                </ul>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerar</button>
                                                <button type="button" class="btn btn-primary">Seleccionar</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{venta.tipo_comprobante.id_for_label}}" class="form-label fs-4">Comprobante</label>
                                        {{ venta.tipo_comprobante }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="num_comprobante" class="form-label fs-4">N° Comprobante</label>
                                        <input type="number" class="form-control" name="numero_de_comprobante" id="num_comprobante" placeholder="99999" disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="fecha_venta" class="form-label fs-4">Fecha</label>
                                        <input type="date" class="form-control" name="fecha_venta" id="fecha_venta" disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="{{venta.forma_de_pago.id_for_label}}" class="form-label fs-4">Forma de Pago</label>
                                        {{venta.forma_de_pago}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="{{venta.observaciones.id_for_label}}" class="form-label fs-4">Observaciones (opcional)</label>
                                        {{venta.observaciones}}
                                    </div>
                                    <div>
                                        {{venta.empleado}}
                                    </div>
                                    <div>
                                        {{venta.total_venta}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <button type="submit" class="btn btn-success">VENDER</button>
                                        <button type="reset" class="btn btn-danger">CANCELAR</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <!--JS-->
    {% block extra_js %}
        <script src="{% static 'JS/gestion_de_venta.js' %}"></script>
    {% endblock %}

{% endblock %}
