{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/registro_empleados.css' %}">
{% endblock %}
{% block title %}Agregar Empleado{% endblock %}
{% block content %}
    <div id="fondo">
        <h1 class="text-center display-1">Empleados</h1>
        <div class="container">
            <div class="row">
                <h2 class="text-light"><span>Ingrese los datos del empleado</span></h2>
                <form method="POST" id="formulario_agregar_empleado">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{formulario.nombre.id_label}}" class="form-label fs-4">Nombre</label>
                        {{formulario.nombre}}
                    </div>

                    <div class="mb-3">
                        <label for="{{formulario.cuit_cuil.id_label}}" class="form-label fs-4">CUIT/CUIL</label>
                        {{formulario.cuit_cuil}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.mail.id_label}}" class="form-label fs-4">MAIL</label>
                        {{formulario.mail}}
                    </div>
                    <!--Telefono-->
                    <div class="mb-3">
                        <label for="{{formulario.telefono.id_label}}" class="form-label fs-4">Teléfono</label>
                        {{formulario.telefono}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.fecha_nacido.id_label}}" class="form-label fs-4">Fecha de nacimiento</label>
                        {{formulario.fecha_nacido}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.localidad.id_label}}" class="form-label fs-4">Localidad</label>
                        {{formulario.localidad}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.calle.id_label}}" class="form-label fs-4">Calle</label>
                        {{formulario.calle}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.numero_calle.id_label}}" class="form-label fs-4">N° Calle</label>
                        {{formulario.numero_calle}}
                    </div>
                    <div class="mb-3">
                        <label for="{{formulario.cargo.id_label}}" class="form-label fs-4">Cargo</label>
                        {{formulario.cargo}}
                    </div>
                    <!--TIpo de Persona-->
                    {{formulario.tipo_persona}}
                    <div class="mt-3">
                        <input class="btn btn-danger" type="reset" value="CANCELAR">
                        <input class="btn btn-success" type="submit" value="GUARDAR">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% block extra_js %}
    <script src="{% static 'JS/agregar_empleado.js' %}"></script>
{% endblock %}
{% endblock %}