{% extends 'base.html'%}
{% load static %}

{% block title %}Empleados{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/empleados.css' %}">
{% endblock %}
{% block content %}
    <div id="fondo" class="pe-3 ps-3">
        <div class="container-fluid">
            <div class="row" id="titulo_empleados">
                <div class="col-12">
                    <h1 class="text-center display-1">Empleados</h1>
                </div>
            </div>
                <div class="col-12">
                    {% if empleados|length == 0 %}
                    <h2 class="text-center">Aún no hay empleados cargados :/</h2>
                    {% else %}
                        <h2 class="text-center">Empleados Registrados</h2>
                        <div class="container-fluid mb-3" id="tabla_empleados">
                            <table class="table table-hover table-primary">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cuit</th>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Domicilio</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Fecha de ingreso</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empleado in empleados %}
                                        <tr>
                                            <td>{{empleado.id}}</td>
                                            <td>{{empleado.cuit}}</td>
                                            <td>{{empleado.nombre}}</td>
                                            <td>se tiene que agregar</td>
                                            <td>{{empleado.localidad}},{{empleado.calle}},{{empleado.numero_calle}}</td>
                                            <td>{{empleado.fecha_nacido}}</td>
                                            <td>{{empleado.fecha_ingreso}}</td>
                                            {% if empleado.estado %}
                                                <td>Activo</td>
                                            {% else %}
                                            <td>Inactivo</td>
                                            {% endif %}
                                            <td class="project-actions">
                                                <a class="btn btn-primary btn-sm" href="{% url 'empleados:modificar_empleado' empleado.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                </svg>
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="#card_eliminar">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            <section class="content">
                    <a class="btn btn-success col-2 m-1" href="{% url 'empleados:agregar_empleado' %}" role="button" id="btn_cargar_empleado"><span>Cargar Empleado</span></a>
                    
            </section>
        </div>
    </div>

{% endblock %}