{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio Sesión{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
{% endblock %}
{% block content %}
<div id="fondo">
    <h1>Iniciar Sesión</h1>
    {% if msj %}
    <div id="mansaje_deslogueo">{{ msj }}</div>
    {% endif %}
    <div class="container-fluid" id="contenedor">
        <div class="row mt-5">
            <form action="{% url 'usuario:login' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fs-4" for="username">Nombre de Usuario: </label>
                    <input type="text" id="username" name="username" class="form-control" >
                </div>
                <div class="mb-3">
                    <label class="form-label fs-4" for="passw">Contraseña: </label>
                    <input type="password" id="passw" name="password" class="form-control" >
                </div>
                <input type="submit" class="btn btn-success" value="Ingresar">
            </form>
        </div>
    </div>
</div>
{% block extra_js %}
    <script src="{% static 'JS/login.js' %}"></script>
{% endblock %}
{% endblock %}